body {
    font-family:Arial, Helvetica, sans-serif;
    background-color:antiquewhite;
    color:#a52a2a;
}

h1, h2, h3, h4, h5, h6 {
    font-family:"Open Sans";
    font-size:25pt;
    text-align:center;
}

header {
    text-align:center;
}

#hero, footer {
    color:#FA6E43;
    border: 2px solid;
    background-color:#D9AD62;
    text-align:center;
    padding:12px;
}

/*Hero Section*/

#hero img {
    width:100px;
}

/*Bio Section*/


#bio {
    text-align:center;
}

#bio {

}

/*Hobby Section*/

#hobbies ul li:nth-child(even) {
    color:#000;
}

/*Gallery Section*/

#gallery {
    border: 2px solid #61a5ed;
    margin-bottom:2rem;
}

#gallery img {
    max-width:100%;
}

#gallery figure{
    text-align:center;
}

/*literature*/
#lit {
    border: 2px solid#61a5eD;
    margin-bottom:2rem;
}

#lit div {
    padding:2rem;
    max-width: 40rem;
    margin: 0 auto;
}

#lit div p {
    padding: 0.3 rem 0;
}

/*Dropcaps*/

#lit div p:first-letter {
    color: blueviolet;
    float:left;
    font: size 3.5em;
    padding:.5em;
    line-height:.65;
    border:1px solid black;
}