body {
    font-family:Arial, Helvetica, sans-serif;
    background-color:antiquewhite;
    color:#a52a2a;
}

h1, h2, h3, h4, h5, h6 {
    font-family:"Open Sans";
    font-size:25pt;
}

header {
    text-align:center;
}

#hero, footer {
    color:#FA6E43;
    border: 2px solid;
    background-color:#D9AD62;
    text-align:center;
    padding:12px;
}

#hero img {
    width:100px;
}

#bio {
    text-align:center;
}